* {
    margin: 0;
    font-family: "Urbanist", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #1A1A1A;
    color: white;
}

a{
    color:white;
}
a:visited{
    color: white;
}

.content-layout {
    display: flex;
    flex-direction: row;
}