@import "./theme-variables.css";
* {
    margin: 0;
    font-family: "helvetica", "Urbanist", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--mainBGColor);
    color: var(--mainColor);
}

a {
    color: var(--mainColor);
}

a:visited {
    color: var(--mainColor);
}

.content-layout {
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 10px;
    border-radius: 3px;
}

body::-webkit-scrollbar-track {
    background-color: var(--additionalBGColor);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--mainBGColor);
    outline: 1px solid var(--additionalColor);
    border-radius: 3px;
}