@import "./theme-variables.css";
* {
    margin: 0;
    font-family: "helvetica", "Urbanist", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--mainBGColor);
    color: var(--mainColor);
}

a {
    color: var(--mainColor);
}

a:visited {
    color: var(--mainColor);
}

.content-layout {
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .content-layout {
        display: grid;
        grid-template-columns: 20% 80%;
    }
}
@media (max-width: 900px) {
    .content-layout {
        display: grid;
        position: relative;
        grid-auto-columns: auto 140px;
        grid-auto-rows: 60px 5rem auto;
        grid-template-areas: "a b" "c c" "d d";
    }
    .logo {
        grid-area: a;
    }
    .body {
        grid-area: d;
    }
    .mobile-year-wrapper {
        grid-area: c;
    }

    .year {
        color: var(--mainColor);
        font-size: 2rem;
    }

    .place {
        color: var(--additionalColor);
        font-size: 1.5rem;

    }
}

