.body {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 2em auto;

}

.body .control {
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px;
}

.masonry {
    display: flex;
    flex-flow: row wrap;
    gap: 3px; /* Adjustment for the gutter */
    width: 100%;
}

.masonry-brick {
    flex: auto;
    height: 250px;
    min-width: 150px;
    max-width: 50%;
    margin: 0 3px 3px 0; /* Some gutter */
}

.body .preview {
    padding: 15px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.body .download {
    color:#000 !important;
    text-decoration:none;
}
.masonry-brick:nth-child(4n+1) {
    width: 250px;
}
.masonry-brick:nth-child(4n+1):nth-child(4n+2) {
    width: 325px;
}
.masonry-brick:nth-child(4n+1):nth-child(4n+3) {
    width: 180px;
}
.masonry-brick:nth-child(4n+1):nth-child(4n+4) {
    width: 380px;
}

.body .wrapper{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

.body .face {
    position: absolute;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.541);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.overlay .full {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}
.overlay > span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ffffff;
    z-index: 999;
    cursor: pointer;
}
.overlay-arrows_left {
    display: flex;
    background-color: #6d6d6d;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    left: 0;
    z-index: 999;
}

.overlay-arrows_left svg {
    width: 50px;
    height: 50px;
}

.overlay-arrows_right svg {
    width: 50px;
    height: 50px;
}

.overlay-arrows_right {
    display: flex;
    background-color: #6d6d6d;
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    top: 50%;
    z-index: 999;
}
