.body {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 2em auto;

}

.body .control {
    background: black;
    opacity: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.masonry {
    display: flex;
    flex-flow: row wrap;
    gap: 3px;
    width: 100%;
}

.masonry-brick {
    flex: auto;
    cursor: pointer;
    height: 300px;
    min-width: min(150px, 30%);
    max-width: 35%;
    margin: 0 0 3px 0; /* Some gutter */
}

.body .preview {
    object-fit: cover;
    width: 100%;

    border-radius: 8px;
    height: 100%;
}

.body .download {
    text-decoration: none;
}

.masonry-brick:nth-child(7n+1) {
    width: 30%;

}

.masonry-brick:nth-child(7n+2) {
    width: 30%;
}

.masonry-brick:nth-child(7n+3) {
    width: 30%;
}

.masonry-brick:nth-child(7n+4) {
    width: 25%;
}

.masonry-brick:nth-child(7n+5) {
    width: 25%;
}

.masonry-brick:nth-child(7n+6) {
    width: 25%;
}

.masonry-brick:nth-child(7n+7) {
    width: 250px;
}

.body .wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

.body .face {
    position: absolute;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.541);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.overlay .full {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}

.overlay > span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ffffff;
    z-index: 999;
    cursor: pointer;
}

.overlay-arrows_left {
    cursor: pointer;
    display: flex;
    background: black;
    opacity: 50%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    left: 0;
    z-index: 999;
}

.overlay-arrows_left svg {
    width: 50px;
    height: 50px;
}

.overlay-arrows_right svg {
    width: 50px;
    height: 50px;
}

.overlay-arrows_right {
    cursor: pointer;
    display: flex;
    background: black;
    opacity: 50%;
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    top: 50%;
    z-index: 999;
}

