.header-input-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.selector-wrapper {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.search {
    justify-content: space-around;
    width: 25%;
}
