.header-wrapper {
    width: 100%;
    background-color: var(--mainBGColor);
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
}
@media (min-width: 900px) {

    .header-input-wrapper {
        margin: 10px 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .selector-wrapper {
        display: flex;
        margin-right: 10px;
        justify-content: space-between;
        width: 100%;
    }
}
