.photoInfo {
    width: 100%;
    background: black;
    opacity: 70%;
    color: white;
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: left;
    transition: 1s;
}


.photoInfo a{
    color:white;
}
.photoInfo a:visited{
    color:white;
}

.photoInfo-hide {
    right: 0;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}