@import "theme-variables.css";

.photoInfo {
    width: 100%;
    background: var(--opacityBGColor);
    color: var(--mainColor);
    position: absolute;
    bottom: 0;
    padding: 20px 70px 20px 20px;
    box-sizing: border-box;
    text-align: left;
    transition: 1s;
}


.photoInfo a {
    color: var(--mainColor);
}

.photoInfo a:visited {
    color: white;
}

.control-bottom {
    right: 0;
    padding-right: 20px;
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}
