:root {
  --mainBGColor: #1a1a1a;
  --mainColor: white;
  --additionalColor: #8a8a8a;
  --opacityBGColor: rgba(27, 27, 27, 0.5);
  --additionalBGColor: #2e2e2e;
  --colorRectangle: yellow;
  --borderRectangle: yellow;
}
