name: Create a release file

# Releases artifact from the build workflow

on: workflow_dispatch

jobs:
  build:
    name: Create artifacts from master
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - public_url: gallery # wf
            data_folder: data
          - public_url: galleryNAC # nac
            data_folder: dataNAC
          - public_url: galleryNERC # nerc
            data_folder: dataNERC
          - public_url: galleryLAC # lac
            data_folder: dataLAC
          - public_url: galleryAE # ae
            data_folder: dataAE
          - public_url: galleryAW # aw
            data_folder: dataAW
          - public_url: galleryAP # ap
            data_folder: dataAP
          - public_url: galleryEU # eu
            data_folder: dataEU
          - public_url: galleryACPC # acpc
            data_folder: dataACPC

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "npm"
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
      - name: Build
        run: PUBLIC_URL=${{ matrix.public_url }} VITE_DATA_FOLDER=${{ matrix.data_folder }} ./build.sh
      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          name: build-${{ matrix.public_url }}
          path: ${{ matrix.public_url }}.zip
  merge:
    name: Merge zips into one
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: .
      - name: Unzip all zip from multiple zips
        run: |
          mkdir build-all
          cp build-*/*.zip build-all
          cd build-all
          ls
          unzip '*.zip'
          rm *.zip
          ls
      - name: Upload raw
        uses: actions/upload-artifact@v5
        with:
          name: all
          path: build-all
